*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* * {
  outline: 1px dashed red;
} */

html {
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  font-weight: 400;
}

body {
  min-height: 100vh;
  background-color: #f6fcff;
}

/*
  article title
*/
h1 {
  font-weight: 700;
  font-size: 2.5rem;
}

/*
  author name
*/
h2 {
  font-weight: 600;
  font-size: 1.8rem;
  cursor: pointer;
}

h3 {
  font-weight: 400;
}

p {
  font-size: 1.2rem;
  font-family: 'Lora', Georgia, Cambria, "Times New Roman", Times, serif;
  line-height: 2rem;;
}

ul {
  list-style: none;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  font-size: 1rem;
  padding: 2.5rem 4rem;
  border-bottom: 0.1rem solid #d1d7da;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

nav .left-items,
nav .right-items {
  display: flex;
}

.left-items h2,
.left-items ul {
  margin-right: 1.5rem;
}

.left-items ul button {
  margin-right: 0.5rem;
}

.author-info {
  cursor: pointer;
}

.author-followers {
  margin-right: 1.5rem;
}

.author-buttons {
  align-self: center;
  display: flex;
  justify-content: center;
}

/*
  nav buttons
*/
.button {
  color: white;
  background: #137ec0;

  border-radius: 5rem;
  border-style: none;
  border: 0.1rem solid #137ec0;
  width: 4.8rem;
  height: 2.4rem;
  cursor: pointer;
}

.button.subscribe {
  width: 2.4rem;
  border-radius:50%;
  color: #e7e6e6;
}

.button.get-started {
  width: 5.6rem;

  color: #137ec0;
  background: transparent;

  border-style: solid;
  border-color: #137ec0;
}

/*
  nav : right-items
*/
nav .right-items li {
  margin-right: 1.5rem;
}

.right-items a {
  text-decoration: none;
  font-size: 0.8rem;
  color: #137ec0;
}

/*
  site logo
*/
.fa.fa-rebel {
  font-size: 2.4rem;
  color: #393f41;
}

/*
  aside
*/
aside {
  display: flex;
  flex-direction: column;
  width: 12rem;
}

aside p {
  width: 24ch;
  font-size: 0.9rem;
  line-height: 1.3rem;
}

.aside-buttons {
  display: flex;
}

.aside-buttons .follow,
.notifications li:not(:last-child) {            /* last child | https://stackoverflow.com/a/2573566 */
  margin-right: 0.5rem;
}

.aside-info {
  border-bottom: 0.1rem solid #d1d7da;
}

.notifications {
  display: flex;
  justify-content: space-between;
}

/*
  main | article
*/
main {
  display: flex;
  justify-content: center;
  margin: 4rem 2rem 2rem;
}

article {
  max-width: 42rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.article-nav {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
}

article .article-nav-left,
article .article-nav-right {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.article-nav-left .pfp {
  height: 2rem;
  width: 2rem;
  border: 1px solid black;
  border-radius: 50%;
}

.article-nav-right li {
  cursor: pointer;
  color: white;
  background: black;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.article-nav-right .white-background {
  color: black;
  background: transparent;
}

.article-image {
  align-self: center;
  width: 42rem;
  display: flex;
  overflow: hidden;
}

.article-image img {
  width: 1920px;
  height: auto;
}

.article-image-credit {
  font-size: 0.9rem;
  align-self: center;
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
}

article p {
  margin: 1rem 0;
}